<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Controle da Cafeteira</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='coffee_style.css') }}">
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Controle da Cafeteira</h1>
    </div>
    <div class="content">
      <div class="menu">
        
        <button id="filledButton" class="toggle-button" onclick="toggleFilled()">Cafeteira foi preenchida?</button>
        <br>
        <button id="manualControlButton" class="toggle-button" onclick="toggleManualControl()">Controle Manual</button>
        <br>

        <label>
          Hora para Ligar:
          <input type="time" id="coffeeTime" name="hora">
        </label>
        <label>
          Hora de Desligamento:
          <input type="time" id="shutdownTime" name="hora_desligamento">
        </label>
          
          <button id="confirmButton" class="toggle-button" onclick="confirmCoffee()" disabled>Programar café</button>
      </div>
    </div>
    <div class="footer">
      <a href="{{ url_for('index') }}">voltar ao menu anterior</a>
  </div>
  </div>
  <script>

    const filledButton = document.getElementById("filledButton");
    const confirmButton = document.getElementById("confirmButton");
    const manualControlButton = document.getElementById("manualControlButton");
    const coffeeTimeInput = document.getElementById("coffeeTime");
    const shutdownTimeInput = document.getElementById("shutdownTime");
    
    let manualControlFlag = false;
    
    function toggleFilled() {
      if (filledButton) {
        filledButton.classList.toggle("active");
        confirmButton.disabled = !filledButton.classList.contains("active");
      }
    }
    
    function toggleManualControl() {
      if (manualControlButton) {
        manualControlButton.classList.toggle("active");
        manualControlFlag = manualControlButton.classList.contains("active");
      }
    }
    
    async function confirmCoffee() {
      const coffeeTime = coffeeTimeInput.value;
      const shutdownTime = shutdownTimeInput.value;
      const shutdownConfig = shutdownTime ? true : false;
    
      if (filledButton.classList.contains("active") && coffeeTime) {
        confirmButton.classList.add("active");
        confirmButton.disabled = true;
        confirmButton.dataset.originalText = confirmButton.textContent;
        confirmButton.textContent = "Café programado!";
        setTimeout(() => {
          confirmButton.textContent = confirmButton.dataset.originalText;
          confirmButton.classList.remove("active");
          confirmButton.disabled = false;
        }, 800);
    
        try {
          const response = await fetch("/confirm-coffee", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
              coffeeTime,
              manualControl: manualControlFlag,
              shutdownFlag: shutdownConfig,
              shutdownTime,
            }),
          });
    
          if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
          }
    
          const data = await response.text();
          console.log(data);
    
        } catch (error) {
          //Printing it just for debugging purposes.
          console.error("Error:", error);
        } finally {
          setTimeout(() => {
            confirmButton.textContent = confirmButton.dataset.originalText;
            confirmButton.classList.remove("active");
            confirmButton.disabled = false;
          }, 800);
        }
      } else {
        if (!coffeeTime) {
          alert("Por favor, defina a hora antes de programar o café.");
        } else {
          alert("A cafeteira precisa estar preenchida para programá-la.");
        }
      }
    }
    
  </script>
</body>
</html>
